<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.pjozsef.control">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ControllerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="host"
            android:value="${host}" />
        <meta-data
            android:name="port"
            android:value="${port}" />
        <meta-data
            android:name="udpToken"
            android:value="${udpToken}" />
        <meta-data
            android:name="httpToken"
            android:value="${httpToken}" />
        <meta-data
            android:name="serverPort"
            android:value="${serverPort}" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricToken}"
            />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".control.ControllerActivity"
            android:noHistory="true"/>

        <service android:name=".service.UdpService"/>
        <service android:name=".service.WebService"/>
    </application>

</manifest>